@{
    ViewData["Title"] = "May 2021";

}
<h1>@ViewData["Title"]</h1>


<link rel="stylesheet" href="~/css/Index.css" />


<div id="MainContainerCalendar">

    <div id="Sunday">
        Sunday
    </div>

    <div id="Monday">
        Monday
    </div>

    <div id="Tuesday">
        Tuesday
    </div>

    <div id="Wednesday">
        Wednesday
    </div>

    <div id="Thursday">
        Thursday
    </div>

    <div id="Friday">
        Friday
    </div>

    <div id="Saturday">
        Saturday
    </div>

    <div id="FirstDay">
        25<br>
        <button class="ImagesAdded">Image 1 was added</button>
    </div>

    <div id="SecondDay">
        26
    </div>

    <div id="ThirdDay">
        27
    </div>

    <div id="FourthDay">
        28<br>
        <button class="ImagesAdded">Image 2 was added</button>
    </div>

    <div id="FifthDay">
        29
    </div>

    <div id="SixthDay">
        30
    </div>

    <div id="SeventhDay">
        1
    </div>


    <div id="FirstDay2">
        2
    </div>

    <div id="SecondDay2">
        3
    </div>

    <div id="ThirdDay2">
        4
    </div>

    <div id="FourthDay2">
        5
    </div>

    <div id="FifthDay2">
        6
    </div>

    <div id="SixthDay2">
        7
    </div>

    <div id="SeventhDay2">
        8
    </div>



    <div id="FirstDay3">
        9
    </div>

    <div id="SecondDay3">
        10<br>
        <button class="ImagesAdded">Image 3 was added</button>
    </div>

    <div id="ThirdDay3">
        11
    </div>

    <div id="FourthDay3">
        12
    </div>

    <div id="FifthDay3">
        13
    </div>

    <div id="SixthDay3">
        14
    </div>

    <div id="SeventhDay3">
        15
    </div>



    <div id="FirstDay4">
        16
    </div>

    <div id="SecondDay4">
        17
    </div>

    <div id="ThirdDay4">
        18
    </div>

    <div id="FourthDay4">
        19<br>
        <button class="ImagesAdded">Image 4 was added</button>
    </div>

    <div id="FifthDay4">
        20
    </div>

    <div id="SixthDay4">
        21
    </div>

    <div id="SeventhDay4">
        22<br>
        <button class="ImagesAdded">Image 5 was added</button>
    </div>



    <div id="FirstDay5">
        23
    </div>

    <div id="SecondDay5">
        24
    </div>

    <div id="ThirdDay5">
        <button class="RedDay">25</button><br>
        <button class="ImagesAdded">Video 1 was added</button>
    </div>

    <div id="FourthDay5">
        26
    </div>

    <div id="FifthDay5">
        27
    </div>

    <div id="SixthDay5">
        28
    </div>

    <div id="SeventhDay5">
        29
    </div>



    <div id="FirstDay6">
        30
    </div>

    <div id="SecondDay6">
        31
    </div>

    <div id="ThirdDay6">
        1
    </div>

    <div id="FourthDay6">
        2
    </div>

    <div id="FifthDay6">
        3
    </div>

    <div id="SixthDay6">
        4
    </div>

    <div id="SeventhDay6">
        5
    </div>

</div>









